@use "../styles/sass/_variables" as *;
@use "../styles/sass/_mixins" as *;

.sectionHome {
  font-size: $font-size-large;
  position: relative;
  height: 100%;
  text-align: center;
  background-image: url("../images/sean-barker-portfolio-background.jpg");
  @include respond(desktop-2x) {
    background-image: url("../images/sean-barker-portfolio-background-large.jpg");
  }
  @include respond(big-desktop) {
    background-image: url("../images/sean-barker-portfolio-background-large.jpg");
  }
  @include respond(phone-2x) {
    background-image: url("../images/sean-barker-portfolio-background-phone.jpg");
  }
  background-size: cover;
  @include respond(phone) {
    font-size: $font-size-default;
  }

  .container {
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    // height: 100%;
    width: 100%;
    padding: 10rem;
    @include respond(tablet) {
      padding: 2rem;
    }
  }

  .headingPrimary {
    background-color: $color-secondary;
    @include uMarginBottomLarge;
    @include headingPrimaryHuge(black); // font-size: 10rem;
    @include respond(tablet) {
      @include headingPrimary(black);
      @include uMarginBottomMed;
    }
  }

  .headingSecondary {
    // font-size: 5rem;
    @include uMarginBottomHuge;
    font-size: 4rem;
    padding: 0 10%;
    @include respond(tablet) {
      @include uMarginBottomMed;
      @include headingSecondary(black);
      padding: 0 7.5%;
    }
    // @include respond(tablet) {
    //   font-size: 3rem;
    //   @include uMarginBottomMed;
    // }
  }
}
.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  @include respond(phone) {
    flex-direction: column;
    :not(:last-child) .button {
      margin-bottom: 1rem;
    }
  }
}
.button {
  font-size: $font-size-default;
  @include buttonPrimary(3rem, 3rem, 20rem); // display: flex;

  @include respond(tablet) {
    font-size: 1.7rem;
    @include buttonPrimary(2rem, 2rem, 16rem);
  }
}
