@use "../styles/sass/_variables" as *;
@use "../styles/sass/_mixins" as *;

.card {
  position: relative;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  transition: all $transition-time-default;
  //size backgorund image we passed as inline style
  background-size: cover;
  background-blend-mode: color;

  &:hover {
    filter: brightness(90%);
    box-shadow: $box-shadow-heavy;
  }
  .banner {
    background-color: rgba($color-primary-very-dark, 0.8);
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0.75rem 0.5rem;
    // height: 4.5rem;

    .heading {
      @include headingSecondary(black);
      font-weight: 1000;
      @include respond(tablet) {
        @include headingTertiary(black);
      }
      @include respond(phone) {
        font-size: $font-size-small;
      }
    }
  }
}
